.footer_section {
    background: #1e1e1e;
    padding-top: 50px;
    padding-bottom: 10px;
    .footer_section_inner {
        padding-bottom: 30px;
        h3 {
            color: #fff;
            margin: 0px;
            font-size: 26px;
            padding-bottom: 10px;
        }
        li {
            list-style: none;
            color: #eaeaea;
            margin: 0px;
            padding-top: 8px;
            padding-bottom: 8px;
            a {
                color: #fff;
                font-size: 15px;
                cursor: pointer;
                font-weight: 300;
            }
        }
        .social_section {
            li {
                display: inline-block;
                .social_btn {
                    width: 35px;
                    height: 35px;
                    background: #a8a8a8;
                    border-radius: 50%;
                    margin: 5px;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                }
                .google {
                    background: url("/assets/imgs/social1.png");
                }
                .facebook {
                    background: url("/assets/imgs/social2.png");
                }
                .twitter {
                    background: url("/assets/imgs/social3.png");
                }
            }
        }
    }
    hr {
        border-bottom: 1px solid #393939;
        border-top: none;
    }
    .footer_bottom {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        li {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            a {
                color: #fff;
                font-weight: 300;
            }
        }
        p {
            text-align: center;
            color: #8c8c8c;
        }
    }
}