<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_section_inner">
                    <h3>Top Bus Routers</h3>
                    <li><a>Hyderabad to Bangalore</a></li>
                    <li><a>Pune to Bangalore</a></li>
                    <li><a>Hyderabad to Chennai</a></li>
                    <li><a>Coimbatore to Bangalore</a></li>
                    <li><a>Chennai to Madurai</a></li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_section_inner">
                    <h3>Top Cities</h3>
                    <li><a>Hyderabad to Bangalore</a></li>
                    <li><a>Pune to Bangalore</a></li>
                    <li><a>Hyderabad to Chennai</a></li>
                    <li><a>Coimbatore to Bangalore</a></li>
                    <li><a>Chennai to Madurai</a></li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_section_inner">
                    <h3>Top Cities</h3>
                    <li><a>Hyderabad to Bangalore</a></li>
                    <li><a>Pune to Bangalore</a></li>
                    <li><a>Hyderabad to Chennai</a></li>
                    <li><a>Coimbatore to Bangalore</a></li>
                    <li><a>Chennai to Madurai</a></li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_section_inner">
                    <h3>Top Cities</h3>
                    <li><a>Hyderabad to Bangalore</a></li>
                    <li><a>Pune to Bangalore</a></li>
                    <li><a>Hyderabad to Chennai</a></li>
                    <li><a>Coimbatore to Bangalore</a></li>
                    <li><a>Chennai to Madurai</a></li>
                    <div class="social_section">
                        <li>
                            <div class="social_btn google"></div>
                        </li>
                        <li>
                            <div class="social_btn facebook"></div>
                        </li>
                        <li>
                            <div class="social_btn twitter"></div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer_bottom">
                    <li>
                        <a>About Truebus</a>
                    </li>
                    <li><a>|</a></li>
                    <li>
                        <a>FAQ</a>
                    </li>
                    <li><a>|</a></li>
                    <li>
                        <a>Careers</a>
                    </li>
                    <li><a>|</a></li>
                    <li>
                        <a>Truebus Coupons</a>
                    </li>
                    <li><a>|</a></li>
                    <li>
                        <a>Contact Us</a>
                    </li>
                    <li><a>|</a></li>
                    <li>
                        <a>Terms of Use</a>
                    </li>
                    <li><a>|</a></li>
                    <li>
                        <a>Privacy Policy</a>
                    </li>
                    <li><a>|</a></li>
                    <li>
                        <a>Truebus on Mobile</a>
                    </li>
                </div>
                <div class="footer_bottom">
                    <p>© 2018 Techware Solution</p>
                </div>
            </div>
        </div>
    </div>
</footer>