<!-- MAIN-WRAPPER-STARTS -->

<div class="main_wrapper">

    <!-- SEARCH-BANNER-STARTS-->

    <div class="search_banner">
        <div class="search_overlay">
            <!-- <h2>
                      Check in any time Book your ticket and start you journey
                 </h2> -->
        </div>
    </div>

    <!-- SEARCH-BANNER-ENDS-->

    <!-- ACCOUNT-TABS-STARTS -->

    <div class="accounts_tab_div_wrapper">
        <div class="container">
            <div class="account_tabs">

                <!-- ACCOUNT-TABS-MENU-STARTS -->

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#mytrips">My Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#wallet">Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#password">Change Password</a>
                    </li>
                </ul>

                <!-- ACCOUNT-TABS-MENU-ENDS -->

                <!-- ACCOUNT-TABS-CONTENT-STARTS -->

                <div class="tab-content">
                    <div class="tab-pane container active" id="mytrips">
                        <!-- STARTS-SEARCH-RESULTS-SECTION -->

                        <div class="results_bay">

                            <!-- STARTS-SEARCH-HEAD-SECTION -->

                            <div class="results_head">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h4>Travels</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Departure</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Arrival</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Duration</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Seats</h4>
                                    </div>

                                    <div class="col-md-2">
                                        <h4>Fare</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- ENDS-SEARCH-HEAD-SECTION -->

                            <ul>

                                <!-- STARTS-RESULT-LIST-SECTION -->

                                <li>
                                    <div class="result_inner">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h5>Number One</h5>
                                                <p>Semi Sleeper A/C</p>
                                                <span>1</span>
                                                <span>2</span>
                                                <span data-toggle="collapse" data-target="#amenities">More</span>

                                            </div>
                                            <div class="col-md-2">
                                                <h5>Berlin
                                                    <br>02:00 AM</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>Prague<br>04:30 AM</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>14:00hrs</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>02 Seats</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>$50</h5>
                                            </div>
                                        </div>
                                        <div class="row" id="amenities" class="collapse">
                                            amenities

                                        </div>
                                    </div>
                                </li>

                                <!-- ENDS-RESULT-LIST-SECTION -->
                                <!-- STARTS-RESULT-LIST-SECTION -->

                                <li>
                                    <div class="result_inner">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h5>Number One</h5>
                                                <p>Semi Sleeper A/C</p>
                                                <span>1</span>
                                                <span>2</span>
                                                <span data-toggle="collapse" data-target="#amenities">More</span>

                                            </div>
                                            <div class="col-md-2">
                                                <h5>Berlin
                                                    <br>02:00 AM</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>Prague<br>04:30 AM</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>14:00hrs</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>02 Seats</h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5>$50</h5>
                                            </div>
                                        </div>
                                        <div class="row" id="amenities" class="collapse">
                                            amenities

                                        </div>
                                    </div>
                                </li>

                                <!-- ENDS-RESULT-LIST-SECTION -->

                            </ul>
                        </div>

                    </div>
                    <div class="tab-pane container fade" id="wallet">
                        <div class="wallet_balance_wrapper">
                            <h4>Wallet Balance</h4>
                            <div class="row">
                                <div class="col-4">
                                    <p>Total Balance</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <p><strong>$1000</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Your Cash</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <p><strong>$250</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Offer Cash</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <p><strong>$750</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="profile">
                        <div class="wallet_balance_wrapper">
                            <h4>My Profile</h4>
                            <div class="row">
                                <div class="col-4">
                                    <p>Name</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <!-- <p><strong>Geroge Similton</strong></p> -->
                                    <input class="" placeholder="Your name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Date of Birth</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <input class="date_pick form-control" placeholder="MM/DD/YYYY" bsDatepicker>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Gender</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <div class="radio_container clearfix">
                                        <span for="22" class="radio_block">
                                            <input type="radio" id="22_1" name="Gender1" class="radio_btn" value="Male">
                                            <label for="22_1" class="radio_css " value="Male">Male</label>
                                        </span>
                                        <span for="23" class="radio_block">
                                            <input type="radio" id="23_1" name="Gender1" class="radio_btn" value="Female">
                                            <label for="23_1" class="radio_css " value="Female">Female</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <h4>My Contact details</h4>
                            <div class="row">
                                <div class="col-4">
                                    <p>Mail</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <!-- <p><strong>Geroge Similton</strong></p> -->
                                    <input class="" placeholder="Your email" type="mail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Mobile Number</p>
                                </div>
                                <div class="col-1">
                                    <p>:</p>
                                </div>
                                <div class="col-7">
                                    <!-- <p><strong>Geroge Similton</strong></p> -->
                                    <input class="" placeholder="Your mobile number" type="number">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <p class="clear"><button class="proceed mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Save Details </button>
                                    </p>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="password">
                        <div class="wallet_balance_wrapper">
                            <h4>Change Password</h4>
                            <div class="row">
                                <div class="col-4">
                                    <input class="" placeholder="Enter your old password" type="password">
                                </div>
                                <div class="col-1">

                                </div>
                                <div class="col-7">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <input class="" placeholder="Enter your new password" type="password">
                                </div>
                                <div class="col-1">

                                </div>
                                <div class="col-7">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <input class="" placeholder="Enter your confirm new password" type="password">
                                </div>
                                <div class="col-1">

                                </div>
                                <div class="col-7">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <p class="clear"><button class="proceed mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Save Password </button>
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <!-- ACCOUNT-TABS-CONTENT-ENDS -->

                </div>
            </div>
        </div>

        <!-- ACCOUNT-TABS-ENDS -->

    </div>

    <!-- MAIN-WRAPPER-ENDS -->