.navbar {
    background-color: rgba(44, 71, 196, 0.0) !important;
    position: fixed;
    transition-duration: 1s;
    transition-timing-function: ease;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 999;
    .my_account {
        position: relative;
        div {
            display: inline-block;
            color: #fff;
            font-size: 17px;
            font-weight: 400;
            span {
                position: relative;
                cursor: pointer;
                bottom: 10px;
                left: 10px;
            }
        }
        .my_account_pic {
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }
        .dropdown-menu {
            border-radius: 0px;
            margin: 0px;
            padding: 0px;
            background: rgba(0, 0, 0, 0.8);
            border: none;
            li {
                color: #fff;
                cursor: pointer;
                padding: 10px;
            }
        }
    }
    .navbar-brand {
        img {
            width: 220px;
            transition-duration: 1s;
            transition-timing-function: ease;
        }
    }
    .navbar-nav {
        padding-right: 25px;
        li {
            a {
                color: #fff;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 12px;
                padding-bottom: 10px;
                font-weight: 400;
                letter-spacing: 1px;
                font-size: 16px;
            }
        }
    }
    .nav_btn {
        border: 1px solid #fff;
        background: transparent;
        border-radius: 20px;
        color: #fff;
        height: 35px;
        margin-left: 5px;
        margin-right: 5px;
        text-transform: capitalize;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 400;
        font-size: 16px;
    }
}

.scrolled_navbar {
    background: rgba(44, 71, 196, 1) !important;
    transition-duration: 1s;
    transition-timing-function: ease;
    .navbar-brand {
        img {
            width: 160px;
            transition-duration: 1s;
            transition-timing-function: ease;
        }
    }
}


/* MODAL-CUSTOM-CSS */

.log_modal {
    .modal-dialog {
        .modal-content {
            background-image: url("/assets/imgs/login_head.png");
            background-color: #fff !important;
            border: none;
            background-color: #f2f3f4;
            background-position: top center;
            background-repeat: no-repeat;
            border-radius: 8px;
            position: relative;
            top: 100px !important;
            .close {
                position: absolute;
                top: 10px;
                right: 15px;
                &:focus {
                    outline: none;
                }
            }
            .log_modal_inner {
                width: 80%;
                margin: 0 auto;
                padding-top: 45px;
                h4 {
                    margin: 0px;
                    color: #ffffff;
                    font-size: 45px;
                }
                h3 {
                    margin: 0px;
                    color: #ffffff;
                    font-size: 30px;
                }
                p {
                    margin: 0px;
                    color: #ffffff;
                    font-size: 16px;
                    padding-top: 20px;
                    font-weight: 400;
                    padding-bottom: 30px;
                }
                .log_modal_content {
                    background: #fff;
                    border-radius: 8px;
                    .log_modal_content_inner {
                        padding: 15px;
                        .log_row {
                            padding-bottom: 20px;
                            select {
                                width: 100%;
                                height: 40px;
                                border: none;
                                border-bottom: 2px solid #f1f1f1;
                                background: transparent;
                                color: #020101;
                                font-weight: 600;
                                font-size: 20px;
                                padding-bottom: 5px;
                                &:focus {
                                    outline: none;
                                }
                                &::placeholder {
                                    color: #2d2d2d;
                                }
                            }
                            .log_number {
                                background-image: url("/assets/imgs/mobile.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_user {
                                background-image: url("/assets/imgs/user.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_mail {
                                background-image: url("/assets/imgs/mail.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_password {
                                background-image: url("/assets/imgs/password.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_label {
                                width: calc(100% - 45px);
                                float: left;
                                padding-left: 50px;
                                p {
                                    color: #ababad;
                                    margin: 0px;
                                    padding: 0px;
                                }
                                input {
                                    width: 100%;
                                    height: 40px;
                                    border: none;
                                    border-bottom: 2px solid #f1f1f1;
                                    background: transparent;
                                    color: #020101;
                                    font-weight: 600;
                                    font-size: 20px;
                                    padding-bottom: 5px;
                                    &:focus {
                                        outline: none;
                                    }
                                    &::placeholder {
                                        color: #2d2d2d;
                                    }
                                }
                            }
                            .log_label1 {
                                width: 100%;
                                float: left;
                                p {
                                    color: #ababad;
                                    margin: 0px;
                                    padding: 0px;
                                }
                                input {
                                    width: 100%;
                                    height: 40px;
                                    border: none;
                                    border-bottom: 2px solid #f1f1f1;
                                    background: transparent;
                                    color: #020101;
                                    font-weight: 600;
                                    font-size: 20px;
                                    padding-bottom: 5px;
                                    &:focus {
                                        outline: none;
                                    }
                                    &::placeholder {
                                        color: #2d2d2d;
                                    }
                                }
                            }
                            .log_check {
                                width: 45px;
                                height: 45px;
                                float: left;
                                background-image: url("/assets/imgs/uncheck.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                position: relative;
                                top: 10px;
                            }
                            .styled-checkbox {
                                position: absolute; // take it out of document flow
                                opacity: 0; // hide it
                                &+label {
                                    position: relative;
                                    cursor: pointer;
                                    padding: 0;
                                    padding-left: 7px;
                                    font-size: 16px;
                                    p {
                                        margin: 0px;
                                        padding: 0px;
                                        color: #353535;
                                        position: absolute;
                                        width: 250px;
                                        top: 0px;
                                        left: 50px;
                                        font-size: 17px;
                                    }
                                }
                                // Box.
                                &+label:before {
                                    content: '';
                                    margin-right: 10px;
                                    display: inline-block;
                                    vertical-align: text-top;
                                    width: 25px;
                                    height: 25px;
                                    background: white;
                                    border: 1px solid #acacac;
                                    border-radius: 4px;
                                }
                                // Box hover
                                &:hover+label:before {
                                    background: transparent;
                                }
                                // Box focus
                                &:focus+label:before {
                                    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                                }
                                // Box checked
                                &:checked+label:before {
                                    background: #f79a2a;
                                }
                                // Disabled state label.
                                &:disabled+label {
                                    color: #b8b8b8;
                                    cursor: auto;
                                }
                                // Disabled box.
                                &:disabled+label:before {
                                    box-shadow: none;
                                    background: #ddd;
                                }
                                // Checkmark. Could be replaced with an image
                                &:checked+label:after {
                                    content: '';
                                    position: absolute;
                                    left: 14px;
                                    top: 12px;
                                    background: white;
                                    width: 2px;
                                    color: #2d2d2d;
                                    height: 2px;
                                    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
                                    transform: rotate(45deg);
                                    border: none;
                                }
                            }
                            .log_btn {
                                height: 40px;
                                border-radius: 20px;
                                color: #fff;
                                position: absolute;
                                right: 15px;
                                top: 15px;
                                background: #f7941d;
                                margin: 0 auto;
                                font-weight: 500;
                                font-size: 16px;
                                padding-left: 35px;
                                padding-right: 35px;
                                text-transform: capitalize;
                                &:focus {
                                    outline: none;
                                }
                            }
                            .log_btn1 {
                                height: 40px;
                                border-radius: 20px;
                                color: #fff;
                                background: #f7941d;
                                margin: 0 auto;
                                font-weight: 500;
                                font-size: 16px;
                                padding-left: 35px;
                                padding-right: 35px;
                                text-transform: capitalize;
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer {
                border: none;
                .log_modal_footer {
                    width: 85%;
                    margin: 0 auto;
                    padding-top: 35px;
                    padding-bottom: 20px;
                    .signup_btn {
                        text-align: right;
                        position: relative;
                        right: 65px;
                    }
                }
                p {
                    color: #f7941d;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}