<!-- NAVBAR-STARTS-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../assets/imgs/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li><a class="nav-link nav_seperator">|</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#print">Print/SMS ticket</a>
                </li>
                <li><a class="nav-link nav_seperator">|</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#cancel">Easy Cancel/Refund</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" *ngIf="!loginDetails">
                <div class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn btn-outline my-2 my-sm-0 nav_btn" data-toggle="modal" (click)="open(login,'login')">Sign in</div>
                <div class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn btn-outline my-2 my-sm-0 nav_btn" data-toggle="modal" (click)="open(signup,'signup')">Sign up</div>
            </form>
            <form class="form-inline my-2 my-lg-0" *ngIf="loginDetails">
                <div class="my_account dropdown">
                    <div class="" data-toggle="dropdown">
                        <div>
                            <div class="my_account_pic"><img [src]="loginDetails.image" onError="this.src='./../assets/imgs/user.png';" /></div>
                        </div>
                        <div *ngIf="loginDetails.name!==null"> <span>Hi, {{loginDetails.name}}</span></div>
                        <div *ngIf="loginDetails.name===null"> <span>Hi, {{loginDetails.mob}}</span></div>
                        <ul class="dropdown-menu">
                            <li (click)="goToPage('account')">My Account</li>
                            <li (click)="logout()">Logout</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- NAVBAR-ENDS-->

<!-- LOGIN-MODAL-STARTS -->

<ng-template #login data-backdrop="static" data-keyboard="false">
    <div id="login" class="log_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" (click)="close()">&times;</button>
                <div class="log_modal_inner">
                    <h4>Login</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and <br>typesetting industry. Lorem Ipsum has been.</p>
                    <div class="log_modal_content">
                        <img *ngIf="loading" src="./../../assets/imgs/spinner.gif" />
                        <div class="log_modal_content_inner">
                            <form [formGroup]="loginForm" (ngSubmit)="loginProcess()" autocomplete="off">
                                <div class="log_row">
                                    <div class="log_label log_mail">
                                        <p>Email Address</p>
                                        <input class="" placeholder="dummy@gmail.com" type="text" formControlName="username">
                                    </div>
                                    <div [ngClass]="{'log_check':!loginForm.controls['username'].valid,'log_check_valid':loginForm.controls['username'].valid}">
                                    </div>
                                    <div class="s_error" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                        <div class="s_validation" *ngIf="loginForm.controls['username'].hasError('pattern')">{{vs.errorList.email}} </div>
                                        <div class="s_validation" *ngIf="loginForm.controls['username'].hasError('maxlength')">{{vs.errorList.maxLength}} 50</div>
                                    </div>
                                    <div class="s_error" *ngIf="!loginForm.controls['username'].valid && loginSubmit">
                                        <div class="s_validation" *ngIf="loginForm.controls['username'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="log_row">
                                    <div class="log_label log_password">
                                        <p>Password</p>
                                        <input class="" placeholder="password" type="password" autocomplete="off" formControlName="password">
                                    </div>
                                    <div class="log_check" [ngClass]="{'log_check':!loginForm.controls['password'].valid,'log_check_valid':loginForm.controls['password'].valid}">
                                    </div>
                                    <div class="s_error" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                                        <div class="s_validation" *ngIf="loginForm.controls['password'].hasError('minlength')">{{vs.errorList.minLength}} 6</div>
                                    </div>
                                    <div class="s_error" *ngIf="!loginForm.controls['password'].valid && loginSubmit">
                                        <div class="s_validation" *ngIf="loginForm.controls['password'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="log_row pt10">
                                    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                    <label for="styled-checkbox-1"><p>Remember Password</p></label>
                                </div>
                                <div *ngIf="loginResponse" class="s_alert" [ngClass]="(loginResponse.status == 'success') ? 'alert-success' : 'alert-danger'">
                                    <strong>{{loginResponse.message}}<br></strong>
                                </div>
                                <div class="log_row relative">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn secondary_color_bg">
                                                Sign in
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="log_modal_footer">
                        <div class="row widthFull m0">
                            <div class="col-md-6 p0">
                                <p class="textLeft cursor" data-dismiss="modal" data-toggle="modal" (click)="close();open(forgot,'forgot')">Forgot Password</p>
                            </div>
                            <div class="col-md-6 p0">
                                <p class="signup_btn cursor" data-dismiss="modal" data-toggle="modal" (click)="close();open(signup,'signup')">Sign Up</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- LOGIN-MODAL-ENDS -->

<!-- SIGNUP-MODAL-STARTS -->
<ng-template #signup>
    <div id="signup" class="log_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" (click)="close()">&times;</button>
                <div class="log_modal_inner">
                    <h4>Signup</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and <br>typesetting industry. Lorem Ipsum has been.</p>
                    <div class="log_modal_content">
                        <img *ngIf="loading" src="./../../assets/imgs/spinner.gif" />
                        <div class="log_modal_content_inner">
                            <form [formGroup]="signForm" (ngSubmit)="signProcess()" autocomplete="off">

                                <div class="log_row">
                                    <div class="log_label log_user">
                                        <p>Name</p>
                                        <input class="" placeholder="Full Name" type="text" formControlName="name">
                                    </div>
                                    <div [ngClass]="{'log_check':!signForm.controls['name'].valid,'log_check_valid':signForm.controls['name'].valid}">
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['name'].valid && SignSubmit">
                                        <div class="s_validation" *ngIf="signForm.controls['name'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="log_row">
                                    <div class="log_label log_mail">
                                        <p>Email Address</p>
                                        <input class="" placeholder="dummy@gmail.com" type="email" formControlName="username">
                                    </div>
                                    <div [ngClass]="{'log_check':!signForm.controls['username'].valid,'log_check_valid':signForm.controls['username'].valid}">
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['username'].valid && signForm.controls['username'].touched">
                                        <div class="s_validation" *ngIf="signForm.controls['username'].hasError('pattern')">{{vs.errorList.email}} </div>
                                        <div class="s_validation" *ngIf="signForm.controls['username'].hasError('maxlength')">{{vs.errorList.maxLength}} 50</div>
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['username'].valid && SignSubmit">
                                        <div class="s_validation" *ngIf="signForm.controls['username'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="log_row">
                                    <div class="log_label log_number">
                                        <p>Mobile Number</p>
                                        <input class="" placeholder="Eg: 9961545882" type="text" formControlName="mob">
                                    </div>
                                    <div class="log_check" [ngClass]="{'log_check':!signForm.controls['mob'].valid,'log_check_valid':signForm.controls['mob'].valid}">
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['mob'].valid && signForm.controls['mob'].touched">
                                        <div class="s_validation" *ngIf="signForm.controls['mob'].hasError('pattern')">{{vs.errorList.phone}}</div>
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['mob'].valid && signForm.controls['mob'].touched && !signForm.controls['mob'].hasError('pattern')">
                                        <div class="s_validation" *ngIf="signForm.controls['mob'].hasError('maxlength')">{{vs.errorList.maxLength}} 15</div>
                                        <div class="s_validation" *ngIf="signForm.controls['mob'].hasError('minlength')">{{vs.errorList.minLength}} 8</div>
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['mob'].valid && SignSubmit">
                                        <div class="s_validation" *ngIf="signForm.controls['mob'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="log_row">
                                    <div class="log_label log_password">
                                        <p>Password</p>
                                        <input class="" placeholder="password" type="password" formControlName="password">
                                    </div>
                                    <div class="log_check" [ngClass]="{'log_check':!signForm.controls['password'].valid,'log_check_valid':signForm.controls['password'].valid}">
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['password'].valid && signForm.controls['password'].touched">
                                        <div class="s_validation" *ngIf="signForm.controls['password'].hasError('minlength')">{{vs.errorList.minLength}} 6</div>
                                    </div>
                                    <div class="s_error" *ngIf="!signForm.controls['password'].valid && SignSubmit">
                                        <div class="s_validation" *ngIf="signForm.controls['password'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="log_row pt10">
                                    <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1" formControlName="terms">
                                    <label for="styled-checkbox-2"><p>Accept Terms and Conditions</p></label>
                                    <div class="s_error" *ngIf="!signForm.controls['terms'].valid && SignSubmit">
                                        <div class="s_validation" *ngIf="signForm.controls['terms'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                </div>
                                <div *ngIf="signResponse" class="s_alert" [ngClass]="(signResponse.status == 'success') ? 'alert-success' : 'alert-danger'">
                                    <strong>{{signResponse.message}}<br></strong>
                                </div>
                                <div class="log_row relative">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn secondary_color_bg">
                                                Sign Up
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="log_modal_footer">
                        <div class="row widthFull m0">
                            <div class="col-md-6 p0">
                                <p class="textLeft cursor" data-dismiss="modal" data-toggle="modal" (click)="close();open(forgot,'forgot')">Forgot Password</p>
                            </div>
                            <div class="col-md-6 p0">
                                <p class="signup_btn cursor" data-dismiss="modal" data-toggle="modal" (click)="close();open(login,'login')">Sign in</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<!-- SIGNUP-MODAL-ENDS -->



<!-- CANCEL-MODAL-STARTS -->

<div id="cancel" class="log_modal modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="log_modal_inner">
                <h3>Ticket Cancelation & Refund</h3>
                <p>Follow simple hassle free steps to cancel tickets & easy refund </p>
                <div class="log_modal_content">
                    <div class="log_modal_content_inner">
                        <div class="log_row">
                            <div class="log_label1">
                                <p>Enter your Details given below</p>
                                <br>
                                <input class="" placeholder="Ticket Number" type="text">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="log_row">
                            <div class="log_label1">
                                <input class="" placeholder="Email" type="mail">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="log_row relative">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn1 secondary_color_bg">
                               Cancel Ticket
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="log_modal_footer">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CANCEL-MODAL-ENDS -->


<!-- PRINT-TICKET-MODAL-STARTS -->

<div id="print" class="log_modal modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="log_modal_inner">
                <h3>Print / SMS Ticket</h3>
                <p>Follow simple hassle free steps to cancel tickets & easy refund </p>
                <div class="log_modal_content">
                    <div class="log_modal_content_inner">
                        <div class="log_row">
                            <div class="log_label1">
                                <p>Enter your Ticket Number</p>
                                <br>
                                <input class="" placeholder="Ticket Number" type="text">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="log_row pt10">
                            <div class="log_label1">
                                <p>Choose method </p>
                            </div>
                            <select>
                                   <option>Email</option>
                                    <option>SMS</option>
                                    <option>Whatsapp</option>
                                    <option>Print</option>
                                </select>
                        </div>
                        <div class="log_row relative">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn1 secondary_color_bg">
                                   Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="log_modal_footer">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CANCEL-MODAL-ENDS -->


<!-- MY-ACCOUNT-MODAL-STARTS -->

<div id="account" class="log_modal modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="log_modal_inner">
                <h3>Print / SMS Ticket</h3>
                <p>Follow simple hassle free steps to cancel tickets & easy refund </p>
                <div class="log_modal_content">
                    <div class="log_modal_content_inner">
                        <div class="log_row">
                            <div class="log_label1">
                                <p>Enter your Ticket Number</p>
                                <br>
                                <input class="" placeholder="Ticket Number" type="text">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="log_row pt10">
                            <div class="log_label1">
                                <p>Choose method </p>
                            </div>
                            <select>
                                   <option>Email</option>
                                    <option>SMS</option>
                                    <option>Whatsapp</option>
                                    <option>Print</option>
                                </select>
                        </div>
                        <div class="log_row relative">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn1">
                                   Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="log_modal_footer">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MY-ACCOUNT-MODAL-ENDS -->

<!-- FORGOT-MODAL-STARTS -->
<ng-template #forgot>
    <div id="forgot" class="log_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" (click)="close()">&times;</button>
                <div class="log_modal_inner">
                    <h4>FORGOT</h4>
                    <p>If you've added your email ID to your account, you may receive a password reset via email message</p>
                    <div class="log_modal_content">
                        <form [formGroup]="forgotForm" (ngSubmit)="forgotProcess()" autocomplete="off">
                            <div class="log_modal_content_inner">
                                <div class="log_row">
                                    <div class="log_label log_mail">
                                        <p>Email Address</p>
                                        <input class="" placeholder="dummy@gmail.com" type="text" formControlName="username">
                                    </div>
                                    <div [ngClass]="{'log_check':!forgotForm.controls['username'].valid,'log_check_valid':forgotForm.controls['username'].valid}">
                                    </div>
                                    <div class="s_error" *ngIf="!forgotForm.controls['username'].valid && forgotForm.controls['username'].touched">
                                        <div class="s_validation" *ngIf="forgotForm.controls['username'].hasError('pattern')">{{vs.errorList.email}} </div>
                                        <div class="s_validation" *ngIf="forgotForm.controls['username'].hasError('maxlength')">{{vs.errorList.maxLength}} 50</div>
                                    </div>
                                    <div class="s_error" *ngIf="!forgotForm.controls['username'].valid && forgotSubmit">
                                        <div class="s_validation" *ngIf="forgotForm.controls['username'].hasError('required')">{{vs.errorList.required}} </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="log_row relative">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn">
                                            Request
                                        </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="log_modal_footer">
                        <div class="row widthFull m0">
                            <div class="col-md-6 p0">
                                <p class="textLeft cursor" data-dismiss="modal" data-toggle="modal" (click)="close();open(login,'login')">Sign In</p>
                            </div>
                            <div class="col-md-6 p0">
                                <p class="signup_btn cursor" data-dismiss="modal" data-toggle="modal" (click)="close();open(signup,'signup')">Sign Up</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- FORGOT-MODAL-ENDS -->