<!-- MAIN-WRAPPER-STARTS -->

<div class="main_wrapper">

    <!-- BANNER-STARTS -->

    <div class="search_banner">
        <div class="search_overlay">
            <!-- <h2>
                        Check in any time Book your ticket and start you journey
                   </h2> -->
        </div>
    </div>

    <!-- BANNER-ENDS -->

    <!-- TASKBAR-STARTS -->

    <div class="search_task_bar">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p>From</p>
                    <h4 class="textLeft borderNone">
                        Berlin (02:30 AM)

                    </h4>
                </div>
                <div class="col-md-1">
                    <h4 class="borderNone arrow">
                        <img src="assets/imgs/arrow_right.png">
                    </h4>
                </div>
                <div class="col-md-2">
                    <p>To</p>
                    <h4 class="textLeft borderNone">
                        Prague (04:30 AM)

                    </h4>
                </div>
                <div class="col-md-3">
                    <p class="textCenter">Date of Journey</p>
                    <h4 class="borderNone">
                        21 November 2018
                    </h4>
                </div>
                <div class="col-md-4">
                    <p>Travels Name</p>
                    <h4 class="borderNone textLeft">Number one Travels</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- TASKBAR-ENDS -->

    <!-- PASSENGER-DETAILS-STARTS -->

    <div class="passenger_detail_div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="information_div">
                        <h4>Passenger Details</h4>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Name</h6>
                                        <input class="input_detail" placeholder="Enter passenger name" type="text">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Age</h6>
                                        <input class="input_detail" placeholder="Enter passenger age" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Email</h6>
                                        <input class="input_detail" placeholder="Enter passenger email" type="mail">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Gender</h6>
                                        <div class="radio_container clearfix">
                                            <span for="22" class="radio_block">
                                            <input type="radio" id="22_1" name="Gender1" class="radio_btn" value="Male">
                                            <label for="22_1" class="radio_css " value="Male">Male</label>
                                          </span>
                                            <span for="23" class="radio_block">
                                            <input type="radio" id="23_1" name="Gender1" class="radio_btn" value="Female">
                                            <label for="23_1" class="radio_css " value="Female">Female</label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Name</h6>
                                        <input class="input_detail" placeholder="Enter passenger name" type="text">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Age</h6>
                                        <input class="input_detail" placeholder="Enter passenger age" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Email</h6>
                                        <input class="input_detail" placeholder="Enter passenger email" type="mail">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Gender</h6>
                                        <div class="radio_container clearfix">
                                            <span for="22" class="radio_block">
                                            <input type="radio" id="22_1" name="Gender1" class="radio_btn" value="Male">
                                            <label for="22_1" class="radio_css " value="Male">Male</label>
                                          </span>
                                            <span for="23" class="radio_block">
                                            <input type="radio" id="23_1" name="Gender1" class="radio_btn" value="Female">
                                            <label for="23_1" class="radio_css " value="Female">Female</label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Name</h6>
                                        <input class="input_detail" placeholder="Enter passenger name" type="text">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Age</h6>
                                        <input class="input_detail" placeholder="Enter passenger age" type="number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Email</h6>
                                        <input class="input_detail" placeholder="Enter passenger email" type="mail">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Gender</h6>
                                        <div class="radio_container clearfix">
                                            <span for="22" class="radio_block">
                                            <input type="radio" id="22_1" name="Gender1" class="radio_btn" value="Male">
                                            <label for="22_1" class="radio_css " value="Male">Male</label>
                                          </span>
                                            <span for="23" class="radio_block">
                                            <input type="radio" id="23_1" name="Gender1" class="radio_btn" value="Female">
                                            <label for="23_1" class="radio_css " value="Female">Female</label>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="information_div">
                        <h4>Contact details</h4>
                        <div class="passenger_message">
                            Your ticket will be sent to these details
                        </div>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>Phone</h6>
                                        <input class="input_detail" placeholder="Enter available contact number" type="text">
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Email</h6>
                                        <input class="input_detail" placeholder="Enter passenger email" type="mail">
                                    </div>
                                </div>
                            </li>
                            <h5>Total Amount to be paid : <strong class="red">$156</strong></h5>
                            <button class="proceed mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect secondary_color_bg" data-toggle="modal" data-target="#payment">Proceed to Payment </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PASSENGER-DETAILS-ENDS -->

</div>

<!-- MAIN-WRAPPER-ENDS -->


<!-- PAYMENT-MODAL-STARTS -->

<div id="payment" class="log_modal modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="log_modal_inner">
                <h4>Payment Details</h4>
                <p></p>
                <div class="log_modal_content">
                    <div class="log_modal_content_inner">
                        <div class="log_row">
                            <div class="log_label">
                                <p>Amount to be Payable</p>
                                <div class="row">
                                    <div class="col-md-5">
                                        <h4>Ticket Fare</h4>
                                    </div>
                                    <div class="col-md-1">
                                        <h4>:</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><strong>$150</strong></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <h4>Tax and other</h4>
                                    </div>
                                    <div class="col-md-1">
                                        <h4>:</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><strong>$6</strong></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <h4>Total Fare</h4>
                                    </div>
                                    <div class="col-md-1">
                                        <h4>:</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><strong>$156</strong></h4>
                                    </div>

                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="log_row">
                            <div class="log_label">
                                <p>Enter Promo code </p>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input class="" placeholder="PROMO CODE" type="text">
                                    </div>
                                    <div class="col-md-4">
                                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn secondary_color_bg">
                                    Check
                            </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="log_row pt10">
                            <div class="log_label">
                                <p>Choose payment method </p>
                            </div>
                            <select>
                               <option>Paypal</option>
                                <option>Cash on Delivery</option>
                                <option>Paytm</option>
                            </select>
                        </div>
                        <div class="log_row">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect log_btn secondary_color_bg">
                                        Book Now
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="log_modal_footer">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAYMENT-MODAL-ENDS -->