.search_banner {
    width: 100%;
    position: relative;
    background: url("/assets/imgs/bus_2.jpg");
    background-attachment: fixed !important;
    background-size: cover !important;
    .search_overlay {
        padding-top: 10%;
        padding-bottom: 5%;
        background: rgba(44, 71, 196, 0.9);
        h2 {
            text-align: center;
            color: #fff;
            margin: 0px;
            padding-bottom: 50px;
            font-weight: 400;
            margin: 0px;
        }
    }
}

.search_task_bar {
    width: 100%;
    background: #2c47c4 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    .container {
        margin: 0 auto;
        max-width: 90% !important;
    }
    p {
        color: #fff;
        margin: 0px;
    }
    h4 {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 0px;
        border-bottom: 1px solid #fff;
        input {
            width: 100%;
            color: #fff;
            background: transparent;
            border: none;
            &::placeholder {
                color: #fff;
            }
            &:focus {
                outline: none;
            }
        }
        span {
            cursor: pointer;
        }
        img {
            height: 40px;
        }
    }
    .arrow {
        position: relative;
        top: 10px;
    }
    .modify_btn {
        border: 1px solid #fff;
        color: #fff;
        margin: 5px;
        background: transparent;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        position: relative;
        text-transform: capitalize;
        top: 7px;
        &:focus {
            outline: none;
        }
    }
}

.passenger_detail_div {
    width: 100%;
    padding-top: 50px;
    .information_div {
        background: #f8f8f8;
        h4 {
            margin: 0px;
            color: #fff;
            background: #e24648;
            padding: 8px;
            font-weight: 300;
            font-size: 18px;
            padding-left: 20px;
        }
        ul {
            margin: 0px;
            padding: 0px;
            li {
                list-style: none;
                padding: 10px;
                background: #f8f8f8;
                margin-bottom: 20px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                h6 {
                    margin: 0px;
                    color: #6f6f6f;
                    padding-bottom: 5px;
                    padding-top: 5px;
                }
                .input_detail {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #a8a8a8;
                    padding-left: 0px;
                    margin-bottom: 10px;
                    border-top: none;
                    background: transparent;
                    border-left: none;
                    border-right: none;
                    font-size: 18px;
                    font-weight: 300;
                    &:focus {
                        outline: none;
                    }
                }
                .radio_container {
                    padding-top: 15px;
                    .radio_block>label {
                        text-align: left;
                    }
                    input[type=radio] {
                        width: 22px;
                        height: 17px;
                        vertical-align: middle;
                        float: left;
                    }
                    label.radio_css {
                        padding: 0 .45em;
                        margin: 0 20px 0 0;
                        float: left;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .passenger_message {
        margin-bottom: 1.5em;
        color: #333;
        background-color: #fff181;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 10px;
        width: 100%;
    }
    .proceed {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        background: #e24648;
        border: none;
        cursor: pointer;
        text-transform: capitalize;
        &:focus {
            border: none;
            outline: none;
        }
    }
    h5 {
        color: #898989;
        font-weight: 400;
        strong {}
        .red {
            color: #e24648;
        }
    }
}


/* MODAL-CUSTOM-CSS */

.log_modal {
    .modal-dialog {
        .modal-content {
            background-image: url("/assets/imgs/login_head.png");
            border: none;
            background-color: #fff !important;
            background-position: top center;
            background-repeat: no-repeat;
            border-radius: 8px;
            position: relative;
            top: 100px !important;
            .close {
                position: absolute;
                top: 10px;
                right: 15px;
                &:focus {
                    outline: none;
                }
            }
            .log_modal_inner {
                width: 90%;
                margin: 0 auto;
                padding-top: 45px;
                h4 {
                    margin: 0px;
                    color: #ffffff;
                    font-size: 30px;
                }
                p {
                    margin: 0px;
                    color: #ffffff;
                    font-size: 16px;
                    padding-top: 20px;
                    font-weight: 400;
                    padding-bottom: 30px;
                }
                .log_modal_content {
                    background: #fff;
                    border-radius: 8px;
                    .log_modal_content_inner {
                        padding: 15px;
                        .log_row {
                            padding-bottom: 20px;
                            select {
                                width: 100%;
                                height: 40px;
                                border: none;
                                border-bottom: 2px solid #f1f1f1;
                                background: transparent;
                                color: #020101;
                                font-weight: 600;
                                font-size: 20px;
                                padding-bottom: 5px;
                                &:focus {
                                    outline: none;
                                }
                                &::placeholder {
                                    color: #2d2d2d;
                                }
                            }
                            .log_number {
                                background-image: url("/assets/imgs/mobile.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_user {
                                background-image: url("/assets/imgs/user.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_mail {
                                background-image: url("/assets/imgs/mail.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_password {
                                background-image: url("/assets/imgs/password.png");
                                background-repeat: no-repeat;
                                background-position: left;
                                background-size: 30px;
                            }
                            .log_label {
                                width: 100%;
                                float: left;
                                p {
                                    color: #ababad;
                                    margin: 0px;
                                    padding: 0px;
                                    padding-bottom: 10px;
                                }
                                input {
                                    width: 100%;
                                    height: 40px;
                                    border: none;
                                    border-bottom: 2px solid #f1f1f1;
                                    background: transparent;
                                    color: #020101;
                                    font-weight: 600;
                                    font-size: 20px;
                                    padding-bottom: 5px;
                                    &:focus {
                                        outline: none;
                                    }
                                    &::placeholder {
                                        color: #2d2d2d;
                                    }
                                }
                                h4 {
                                    width: 100%;
                                    height: 40px;
                                    border: none;
                                    font-weight: 400;
                                    background: transparent;
                                    color: #898989;
                                    font-size: 20px;
                                    padding-bottom: 5px;
                                    &:focus {
                                        outline: none;
                                    }
                                    &::placeholder {
                                        color: #2d2d2d;
                                    }
                                    strong {
                                        font-weight: 500;
                                    }
                                }
                            }
                            .styled-checkbox {
                                position: absolute; // take it out of document flow
                                opacity: 0; // hide it
                                &+label {
                                    position: relative;
                                    cursor: pointer;
                                    padding: 0;
                                    padding-left: 7px;
                                    font-size: 16px;
                                    p {
                                        margin: 0px;
                                        padding: 0px;
                                        color: #353535;
                                        position: absolute;
                                        width: 250px;
                                        top: 0px;
                                        left: 50px;
                                        font-size: 17px;
                                    }
                                }
                                // Box.
                                &+label:before {
                                    content: '';
                                    margin-right: 10px;
                                    display: inline-block;
                                    vertical-align: text-top;
                                    width: 25px;
                                    height: 25px;
                                    background: white;
                                    border: 1px solid #acacac;
                                    border-radius: 4px;
                                }
                                // Box hover
                                &:hover+label:before {
                                    background: transparent;
                                }
                                // Box focus
                                &:focus+label:before {
                                    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                                }
                                // Box checked
                                &:checked+label:before {
                                    background: #f79a2a;
                                }
                                // Disabled state label.
                                &:disabled+label {
                                    color: #b8b8b8;
                                    cursor: auto;
                                }
                                // Disabled box.
                                &:disabled+label:before {
                                    box-shadow: none;
                                    background: #ddd;
                                }
                                // Checkmark. Could be replaced with an image
                                &:checked+label:after {
                                    content: '';
                                    position: absolute;
                                    left: 14px;
                                    top: 12px;
                                    background: white;
                                    width: 2px;
                                    color: #2d2d2d;
                                    height: 2px;
                                    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
                                    transform: rotate(45deg);
                                    border: none;
                                }
                            }
                            .log_btn {
                                height: 40px;
                                width: 100%;
                                border-radius: 20px;
                                color: #fff;
                                background: #f7941d;
                                margin: 0 auto;
                                font-weight: 500;
                                font-size: 16px;
                                margin-top: 10px;
                                padding-left: 35px;
                                padding-right: 35px;
                                text-transform: capitalize;
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer {
                border: none;
                .log_modal_footer {
                    width: 85%;
                    margin: 0 auto;
                    padding-top: 35px;
                    padding-bottom: 20px;
                    .signup_btn {
                        text-align: right;
                        position: relative;
                        right: 65px;
                    }
                }
                p {
                    color: #f7941d;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}