<!-- NAVBAR-STARTS-->

<app-navbar></app-navbar>

<!-- NAVBAR-ENDS-->
<!-- OUTLET-STARTS-->

<router-outlet></router-outlet>

<!-- OUTLET-ENDS-->

<!-- FOOTER-STARTS-->

<app-footer></app-footer>

<!-- FOOTER-ENDS-->