<!-- MAIN-WRAPPER-STARTS -->

<div class="main_wrapper p0">
    <section class="module parallax parallax-2">
        <div class="main_banner">
            <div class="container">
                <div class="main_banner_inner">
                    <h2>Online <strong>Bus Tickets</strong> Booking with <br><strong>Zero Booking Fees</strong></h2>
                    <div class="main_search_bar_wrapper">
                        <div class="row m0">
                            <div class="col-md-2 p0">
                                <input class="" placeholder="Departure City">
                            </div>
                            <div class="col-md-2 p0">
                                <input class="" placeholder="Arrival City">
                            </div>
                            <div class="col-md-3 p0">
                                <input class="date_pick form-control" placeholder="Date of Journey" bsDatepicker>
                            </div>
                            <div class="col-md-3 p0">
                                <input class="date_pick form-control" placeholder="Date of return" bsDatepicker>
                            </div>
                            <div class="col-md-2 p0">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect search_btn" (click)="goToPage('searchresult')">
                                    SEARCH BUS
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 textCenter">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect reset_btn">
                                 Reset Date
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="main_sectors">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 textCenter">
                <img src="../assets/imgs/operators.png" class="animated fadeInUp">
                <h5>1800 BUS OPERATORS</h5>
            </div>
            <div class="col-md-4 textCenter">
                <img src="../assets/imgs/routes.png" class="animated fadeInUp">
                <h5>67000 ROUTES</h5>
            </div>
            <div class="col-md-4 textCenter">
                <img src="../assets/imgs/tickets.png" class="animated fadeInUp">
                <h5>6,00,000 + TICKETS SOLD</h5>
            </div>
        </div>
    </div>
</section>
<section class="main_offer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="offer_div">
                    <div class="offer_div_inner">
                        <img src="../assets/imgs/offer1.png">
                        <h3>UPTO RS.100 OFF</h3>
                        <h5>TRAVEL SMART</h5>
                        <p>Code: RBM120<br> Book Using Pay Money</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="offer_div">
                    <div class="offer_div_inner">
                        <img src="../assets/imgs/offer2.png">
                        <h3>UPTO 70% OFF</h3>
                        <h5>TRAVEL SMART</h5>
                        <p>Code: RBM120<br> Book Using Pay Money</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="offer_div">
                    <div class="offer_div_inner">
                        <img src="../assets/imgs/offer3.png">
                        <h3>UPTO RS.100 OFF</h3>
                        <h5>TRAVEL SMART</h5>
                        <p>Code: RBM120<br> Book Using Pay Money</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAIN-WRAPPER-ENDS -->

<!-- MAIN-WRAPPER-ENDS -->
<!-- MAIN-WRAPPER-ENDS -->
</section>

<!-- MAIN-WRAPPER-ENDS -->

<!-- MAIN-WRAPPER-ENDS -->