.navbar {
    background-color: rgba(40, 50, 140, 0.9) !important;
}

.main_banner {
    width: 100%;
    position: relative;
    background: rgba(44, 71, 196, 0.0);
    .main_banner_inner {
        width: 95%;
        margin: 0 auto;
        padding-top: 20%;
        padding-bottom: 10%;
        h2 {
            text-align: center;
            color: #fff;
            margin: 0px;
            padding-bottom: 50px;
            font-weight: 400;
            strong {
                font-weight: 600;
            }
        }
        p {
            margin: 0px;
            color: #fff;
            font-size: 16px;
            padding-bottom: 10px;
        }

        .main_search_bar_wrapper{
            background:#ffff;
            // border-radius:10px;
            margin-bottom: 30px;

        }
        input {
            width: 100%;
            height: 50px;
            background-color: #ffffff;
            border-radius:0px;
            border: none;
            padding-left: 15px;
            font-size: 18px;
            font-weight: 300;
            border: none !important;
            outline: none !important;
            &:focus {
                border: none !important;
                outline: none !important;
            }
            &::placeholder {
                color: #b3b3b3;
                border: none !important;
                outline: none !important;
            }
        }
        .date_pick {
            background-image: url("/assets/imgs/date.png");
            background-position: right 15px top 10px;
            background-repeat: no-repeat;
        }
        .search_btn {
            width:100%;
            height: 50px;
            border-radius: 0px;
            color: #fff;
            background: #ff7800;
            margin: 0 auto;
            font-weight: 600;
            font-size: 16px;
            box-shadow: none !important;
            &:focus {
                outline: none;
            }
        }
        .reset_btn {
            width: 170px;
            height: 40px;
            border-radius: 20px;
            color: #fff;
            background-color: transparent;
            background-image: url("/assets/imgs/reset.png");
            background-repeat: no-repeat;
            font-weight: 400;
            font-size: 18px;
            text-transform: capitalize;
            margin: 0 auto;
            font-size: 16px;
            background-position: 10px;
            box-shadow: none !important;
            padding-left: 25px;
            &:focus {
                outline: none;
            }
        }
    }
}

section.module.parallax-2 {
    background: url("/assets/imgs/banner.png");
}

.main_sectors {
    padding-top: 50px;
    padding-bottom: 50px;
    img {
        margin-top: 10px;
    }
    h5 {
        text-align: center;
        color: #3d3d3d;
        font-weight: 600;
    }
}

.main_offer {
    background: #f2f3f3;
    padding-top: 100px;
    padding-bottom: 60px;
    .offer_div {
        width: 90%;
        margin: 0 auto;
        background: #f9f9f9;
        padding: 15px;
        text-align: center;
        padding-bottom: 40px;
        height: 245px;
        .offer_div_inner {
            position: relative;
            bottom: 60px;
        }
        h3 {
            color: #e24648;
            margin: 0px;
            font-size: 25px;
            padding-bottom: 5px;
            padding-top: 15px;
        }
        h5 {
            color: #313131;
            margin: 0px;
            padding-top: 5px;
            line-height: 18px;
            padding-bottom: 10px;
        }
        p {
            color: #808080;
            margin: 0px;
            line-height: 18px;
        }
    }
}