.search_banner {
    width: 100%;
    position: relative;
    background: url("/assets/imgs/bus1.jpg");
    background-attachment: fixed !important;
    background-size: cover !important;
    .search_overlay {
        padding-top: 10%;
        padding-bottom: 5%;
        background: rgba(44, 71, 196, 0.9);
        h2 {
            text-align: center;
            color: #fff;
            margin: 0px;
            padding-bottom: 50px;
            font-weight: 400;
            margin: 0px;
        }
    }
}

.search_task_bar {
    width: 100%;
    background: #2c47c4 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    .container {
        margin: 0 auto;
        max-width: 90% !important;
    }
    p {
        color: #fff;
        margin: 0px;
    }
    h4 {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 0px;
        border-bottom: 1px solid #fff;
        input {
            width: 100%;
            color: #fff;
            background: transparent;
            border: none;
            &::placeholder {
                color: #fff;
            }
            &:focus {
                outline: none;
            }
        }
        span {
            cursor: pointer;
        }
        img {
            height: 40px;
        }
    }
    .arrow {
        position: relative;
        top: 10px;
    }
    .modify_btn {
        border: 1px solid #fff;
        color: #fff;
        margin: 5px;
        background: transparent;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        position: relative;
        text-transform: capitalize;
        top: 7px;
        &:focus {
            outline: none;
        }
    }
}

.search_result_div {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    .Filter_bay {
        h4 {
            margin: 0px;
            font-size: 18px;
            color: #161222;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        h5 {
            border-bottom: 1px solid #e24648;
            font-size: 14px;
            color: #808080;
            font-weight: 700;
            padding: 10px;
            padding-left: 0px;
            margin: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-transform: uppercase;
            cursor: pointer;
            background: url("/assets/imgs/drop_down.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: 30px;
            // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }
        .in {
            display: block;
        }
        ul {
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 0px;
            padding-left: 0px;
            li {
                list-style: none;
                padding-bottom: 5px;
                .checkbox {
                    position: relative;
                    margin-bottom: 0px;
                }
                .checkbox label {
                    padding-left: 30px;
                    display: block;
                    margin-bottom: 0px;
                    span {
                        color: #808080;
                        font-size: 16px;
                    }
                }
                .checkbox input {
                    top: 0;
                    left: 0;
                    z-index: 1;
                    cursor: pointer;
                    opacity: 0;
                    position: absolute;
                }
                .checkbox input:checked+.input-helper:before {
                    border-color: #2c47c4;
                }
                .checkbox .input-helper:before,
                .checkbox .input-helper:after {
                    position: absolute;
                    content: "";
                    transition: all 200ms;
                }
                .checkbox .input-helper:before {
                    left: 0;
                    border: 1px solid #a8a8a8;
                }
                .checkbox input {
                    width: 20px;
                    height: 20px;
                }
                .checkbox input:checked+.input-helper:before {
                    background-color: #2c47c4;
                }
                .checkbox input:checked+.input-helper:after {
                    transform: scale(1);
                    opacity: 1;
                }
                .checkbox .input-helper:before {
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 2px;
                    color: #fff;
                }
                .checkbox .input-helper:after {
                    content: '\2713';
                    font-size: 13px;
                    left: 3px;
                    top: 0x;
                    color: #fff;
                    transform: scale(0);
                    opacity: 0;
                }
            }
        }
    }
    .results_bay {
        .results_head {
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 10px;
            h4 {
                margin: 0px;
                color: #808080;
                font-size: 16px;
            }
        }
        ul {
            margin: 0px;
            padding: 0px;
            margin-top: 10px;
            li {
                list-style: none;
                padding-bottom: 0px;
                background: #f8f8f8;
                margin-bottom: 10px;
                .result_inner {
                    padding: 15px;
                    border: 1px solid #e1e1e1;
                }
                h5 {
                    color: #6f6f6f;
                    font-weight: 400;
                    font-size: 17px;
                    margin: 0px;
                    padding-bottom: 0px;
                    line-height: 25px;
                }
                p {
                    color: #6f6f6f;
                    font-weight: 400;
                    font-size: 15px;
                    margin: 0px;
                }
                .view_btn {
                    width: 100%;
                    color: #fff;
                    height: 40px;
                    border: none;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                    }
                }
                .rating {
                    float: left;
                }
                .rating:not(:checked)>input {
                    position: absolute;
                    top: -9999px;
                    clip: rect(0, 0, 0, 0);
                }
                .rating:not(:checked)>label {
                    float: right;
                    width: 1em;
                    padding: 0.1em;
                    overflow: hidden;
                    white-space: nowrap;
                    cursor: pointer;
                    font-size: 200%;
                    line-height: 1.2;
                    color: #ddd;
                }
                .rating:not(:checked)>label:before {
                    content: '★ ';
                }
                .rating>input:checked~label {
                    color: #f70;
                }
                .rating:not(:checked)>label:hover,
                .rating:not(:checked)>label:hover~label {
                    color: gold;
                }
                .rating>input:checked~label:hover,
                .rating>input:checked~label:hover~label,
                .rating>label:hover~input:checked~label {
                    color: #ea0;
                }
            }
        }
        .collapse {
            width: 100%;
            padding: 0px;
            .seat_arragement_div {
                padding: 10px;
                background: #f8f8f8;
                margin-bottom: 10px;
                .seat_positioning {
                    h4 {
                        margin: 0px;
                        color: #fff;
                        background: #e24648;
                        padding: 8px;
                        font-weight: 300;
                        font-size: 18px;
                        margin-bottom: 10px;
                        padding-left: 20px;
                    }
                    background: #fff;
                    border-radius: 0px;
                    display: inline-block;
                    width: 100%;
                    ul {
                        .seat_driver {
                            width: 40px;
                            height: 40px;
                            background: url("/assets/imgs/driver.png");
                            background-position: center;
                            background-size: 35px;
                            background-repeat: no-repeat !important;
                            margin-right: 10px;
                            margin-bottom: 10px;
                        }
                        padding: 10px;
                        width: 200px;
                        margin: 0px;
                        display: block;
                        margin: 0 auto;
                        li {
                            list-style: none;
                            display: inline-block;
                            background: transparent;
                            width: 30px;
                            height: 30px;
                            #seat_button {
                                margin: 4px;
                                background-color: #fff;
                                border-radius: 0px !important;
                                overflow: auto;
                                color: #000;
                                border: none;
                                position: relative;
                                width: 100%;
                                height: 100%;
                                outline: none;
                                cursor: pointer;
                                background: url("/assets/imgs/seat_available.png");
                                background-position: center;
                                background-size: 100%;
                            }
                            #seat_button p {
                                margin: 0px;
                                position: absolute;
                                left: 0px;
                                right: 0px;
                                top: 0px;
                                bottom: 0px;
                                padding: 4px;
                                font-size: 14px;
                                cursor: pointer;
                            }
                            #seat_button label {
                                width: 100%;
                            }
                            #seat_button label span {
                                text-align: center;
                                display: block;
                            }
                            #seat_button label input {
                                position: absolute;
                                top: -20px;
                            }
                            #seat_button input:checked+p {
                                background: url("/assets/imgs/seat_selected.png");
                                border-radius: 0px !important;
                                margin: 0px;
                                cursor: pointer;
                                background-position: center;
                                background-size: 100%;
                            }
                        }
                    }
                }
                .ticket_details {
                    width: 100%;
                    .ticket_legend {
                        width: 100%;
                        background: #fff;
                        h5 {
                            color: #898989;
                            margin: 0px;
                            padding: 0px;
                            font-weight: 400;
                            padding-bottom: 20px;
                            font-size: 16px;
                            img {
                                width: 25px;
                                margin-right: 20px;
                            }
                            strong {}
                            .red {
                                color: #e24648;
                            }
                        }
                        h4 {
                            margin: 0px;
                            color: #fff;
                            background: #e24648;
                            padding: 8px;
                            font-weight: 300;
                            font-size: 18px;
                            margin-bottom: 10px;
                            padding-left: 20px;
                        }
                        p {
                            color: #a8a8a8;
                            margin: 0px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            font-size: 18px;
                        }
                        .choose_place {
                            width: 100%;
                            height: 50px;
                            border: 1px solid #898989;
                            background: transparent;
                            padding: 10px;
                            font-size: 18px;
                        }
                        .proceed {
                            width: 100%;
                            font-weight: 400;
                            font-size: 16px;
                            color: #fff;
                            background: #e24648;
                            border: none;
                            cursor: pointer;
                            text-transform: capitalize;
                            &:focus {
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}