<!-- MAIN-WRAPPER-STARTS -->

<div class="main_wrapper">

    <!-- SEARCH-BANNER-STARTS -->

    <div class="search_banner">
        <div class="search_overlay">
            <!-- <h2>
                        Check in any time Book your ticket and start you journey
                   </h2> -->
        </div>
    </div>

    <!-- SEARCH-BANNER-ENDS -->

    <!-- SEARCH-TASK-BAR-STARTS -->

    <div class="search_task_bar">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p>From</p>
                    <h4 class="textLeft">
                        Berlin
                        <!-- <input class="" placeholder="Berlin"> -->
                    </h4>
                </div>
                <div class="col-md-1">
                    <h4 class="borderNone arrow">
                        <img src="assets/imgs/arrow_right.png">
                    </h4>
                </div>
                <div class="col-md-2">
                    <p>To</p>
                    <h4 class="textLeft">
                        Prague
                        <!-- <input class="" placeholder="Prague"> -->
                    </h4>
                </div>
                <div class="col-md-3">
                    <p class="textCenter">Date of Journey</p>
                    <h4 class="borderNone">
                        <span><img src="assets/imgs/left.png"></span> 21 November 2018<span><img src="assets/imgs/right.png"></span>
                    </h4>
                </div>
                <div class="col-md-4">
                    <p></p>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect modify_btn">Modify Search</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect modify_btn">Add a return Ticket</button>
                </div>
            </div>
        </div>
    </div>

    <!-- SEARCH-TASK-BAR-ENDS -->

    <div class="search_result_div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">

                    <!-- STARTS-SIDE-FILTER-SECTION -->

                    <div class="Filter_bay">
                        <h4>Filter by</h4>
                        <h5 data-toggle="collapse" data-target="#filter1">Travels by</h5>
                        <ul id="filter1" class="collapse show">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h5 data-toggle="collapse" data-target="#filter2">Bus Type</h5>
                        <ul id="filter2" class="collapse show">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h5 data-toggle="collapse" data-target="#filter3">Amenities</h5>
                        <ul id="filter3" class="collapse show">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h5 data-toggle="collapse" data-target="#filter4">Boarding</h5>
                        <ul id="filter4" class="collapse">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h5 data-toggle="collapse" data-target="#filter5">Droping</h5>
                        <ul id="filter5" class="collapse">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h5 data-toggle="collapse" data-target="#filter6">Ratting</h5>
                        <ul id="filter6" class="collapse">
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        <i class="input-helper"></i>
                                        <span>Item 1</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- ENDS-SIDE-FILTER-SECTION -->

                </div>
                <div class="col-md-10">

                    <!-- STARTS-SEARCH-RESULTS-SECTION -->

                    <div class="results_bay">

                        <!-- STARTS-SEARCH-HEAD-SECTION -->

                        <div class="results_head">
                            <div class="row">
                                <div class="col-md-2">
                                    <h4>Travels</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Departure</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Arrival</h4>
                                </div>
                                <div class="col-md-1">
                                    <h4>Duration</h4>
                                </div>
                                <div class="col-md-1">
                                    <h4>Seats</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Ratting</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Fare</h4>
                                </div>
                            </div>
                        </div>

                        <!-- ENDS-SEARCH-HEAD-SECTION -->

                        <ul>

                            <!-- STARTS-RESULT-LIST-SECTION -->

                            <li>
                                <div class="result_inner">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5>Number One</h5>
                                            <p>Semi Sleeper A/C</p>
                                            <span>1</span>
                                            <span>2</span>
                                            <span data-toggle="collapse" data-target="#amenities">More</span>

                                        </div>
                                        <div class="col-md-2">
                                            <h5>Berlin<br>02:00 AM</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>Prague<br>04:30 AM</h5>
                                        </div>
                                        <div class="col-md-1">
                                            <h5>14:00hrs</h5>
                                        </div>
                                        <div class="col-md-1">
                                            <h5>07 Seats<br> Available</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <fieldset class="rating">
                                                <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                                                <label title="Rocks!" (click)='onClick(5)'>5 stars</label>

                                                <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                                                <label title="Pretty good" (click)='onClick(4)'>4 stars</label>

                                                <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                                                <label title="Meh" (click)='onClick(3)'>3 stars</label>

                                                <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                                                <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

                                                <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                                                <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>Starts from<br><strong>$50</strong></h5>
                                        </div>
                                    </div>
                                    <div class="row" id="amenities" class="collapse">
                                        amenities

                                    </div>
                                </div>
                                <button class="view_btn secondary_color_bg" data-toggle="collapse" data-target="#viewseat1">View Seats</button>
                            </li>

                            <!-- ENDS-RESULT-LIST-SECTION -->

                            <div class="seats_details" id="viewseat1" class="collapse">
                                <div class="seat_arragement_div">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="seat_positioning">
                                                <h4>Seat layout</h4>

                                                <!-- STARTS-SEAT-SECTION -->

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul class="">
                                                            <div class="seat_driver floatRight">
                                                            </div>
                                                            <div class="clear"></div>
                                                            <li>
                                                                <button id="seat_button">
                                                                        <label>
                                                                            <input id="1" type="checkbox" name="services" value="A">        
                                                                            <p>A</p>
                                                                        </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="2" type="checkbox" name="services" value="B">
                                                                        <p>B</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="C">
                                                                        <p>C</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="4" type="checkbox" name="services" value="D">                      
                                                                        <p>D</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="5" type="checkbox" name="services" value="E">                      
                                                                        <p>E</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <br>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="1" type="checkbox" name="services" value="F">        
                                                                        <p>F</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="2" type="checkbox" name="services" value="G">
                                                                        <p>G</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="H">
                                                                        <p>H</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="4" type="checkbox" name="services" value="I">                      
                                                                        <p>I</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="5" type="checkbox" name="services" value="J">                      
                                                                        <p>J</p>
                                                                    </label>
                                                                </button>
                                                            </li><br>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="1" type="checkbox" name="services" value="K">        
                                                                        <p>K</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="2" type="checkbox" name="services" value="L">
                                                                        <p>L</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="M">
                                                                        <p>M</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="4" type="checkbox" name="services" value="N">                      
                                                                        <p>N</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="5" type="checkbox" name="services" value="O">                      
                                                                        <p>O</p>
                                                                    </label>
                                                                </button>
                                                            </li><br>
                                                            <li>
                                                                <button id="seat_button">
                                                                     <label>
                                                                        <input id="1" type="checkbox" name="services" value="P">        
                                                                        <p>P</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="2" type="checkbox" name="services" value="Q">
                                                                        <p>Q</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="R">
                                                                        <p>R</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="4" type="checkbox" name="services" value="S">                      
                                                                        <p>S</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="5" type="checkbox" name="services" value="T">                      
                                                                        <p>T</p>
                                                                    </label>
                                                                </button>
                                                            </li><br>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="1" type="checkbox" name="services" value="U">        
                                                                        <p>U</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="2" type="checkbox" name="services" value="V">
                                                                        <p>V</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="W">
                                                                        <p>W</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="4" type="checkbox" name="services" value="X">                      
                                                                        <p>X</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="5" type="checkbox" name="services" value="Y">                      
                                                                        <p>Y</p>
                                                                    </label>
                                                                </button>
                                                            </li><br>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="1" type="checkbox" name="services" value="Z">        
                                                                        <p>Z</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="2" type="checkbox" name="services" value="B">
                                                                        <p>B</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="C">
                                                                        <p>C</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="4" type="checkbox" name="services" value="D">                      
                                                                        <p>D</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="5" type="checkbox" name="services" value="E">                      
                                                                        <p>E</p>
                                                                    </label>
                                                                </button>
                                                            </li><br>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="1" type="checkbox" name="services" value="A">        
                                                                        <p>A</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="2" type="checkbox" name="services" value="B">
                                                                        <p>B</p>
                                                                    </label>
                                                                </button>
                                                            </li>

                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="C">
                                                                        <p>C</p>
                                                                    </label>
                                                                </button>
                                                            </li>

                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="3" type="checkbox" name="services" value="C">
                                                                        <p>C</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="4" type="checkbox" name="services" value="D">                      
                                                                        <p>D</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button id="seat_button">
                                                                    <label>
                                                                        <input id="5" type="checkbox" name="services" value="E">                      
                                                                        <p>E</p>
                                                                    </label>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>

                                                <!-- ENDS-SEAT-SECTION -->

                                            </div>
                                        </div>
                                        <div class="col-md-5">

                                            <!-- TICKET-DETAILS-STARTS -->

                                            <div class="ticket_details">
                                                <div class="ticket_legend">
                                                    <h4>Legends, Seats and Fare list</h4>
                                                    <div class="p10">
                                                        <h5><img src="/assets/imgs/seat_available.png">Available Seats</h5>
                                                        <h5><img src="/assets/imgs/seat_selected.png">Selected Seats</h5>
                                                        <h5><img src="/assets/imgs/seat_booked.png">Booked Seats</h5>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h5>Seats Available</h5>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <h5>:</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5><strong>0</strong> </h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h5>Base Fare</h5>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <h5>:</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5><strong class="red">50$</strong> </h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h5>Total Fare</h5>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <h5>:</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5><strong class="red">50$</strong> </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- TICKET-DETAILS-ENDS -->

                                        </div>
                                        <div class="col-md-4">
                                            <div class="ticket_details">
                                                <div class="ticket_legend">
                                                    <h4>Choose your Boarding and Droping point</h4>
                                                    <div class="p10">
                                                        <p>Boarding Point</p>
                                                        <input class="choose_place" placeholder="Enter boarding point">
                                                        <p>Droping Point</p>
                                                        <input class="choose_place" placeholder="Enter droping point">
                                                        <br>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h5>Seat number</h5>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <h5>:</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5><strong>A1, A2, A3, A4</strong></h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h5>Base fare</h5>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <h5>:</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5><strong>50$</strong></h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h5>Fares</h5>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <h5>:</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <h5><strong>50$</strong></h5>
                                                            </div>
                                                        </div>
                                                        <button class="proceed mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect secondary_color_bg" (click)="goToPage('booking')">
                                                            Continue booking
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>

                    <!-- ENDS-SEARCH-RESULTS-SECTION -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN-WRAPPER-ENDS -->